.Form {
    width: 100%;
    margin: 0 auto 10px;
    box-sizing: border-box;
}

.Form-field {
    width: 100%;
    display: block;
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 10px 5px;
    margin-bottom: 20px;
    font-size: 14px;
    box-sizing: border-box;
    max-width: 100%;
}

textarea.Form-field {
    resize: vertical;
    max-height: 100px;
    min-height: 50px;
    height: 50px;
}

.Form-label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

.Form-field:invalid {
    border-color: #fe7b7b;
}

.Form-field:valid {
    border-color: #67c167;
}